/* HTML: <div class="loader"></div> */
.loader {
    width: 176px;
    height: 176px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 1.5s infinite linear;
    position: absolute;
    transition: all;
    color:white;
    transition-duration: 4s;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
  }
  .loader:before,
  .loader:after {
    filter: blur(70px);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
  }
  .loader:after {
    animation-delay: -1s;
  }
  @keyframes l2 {
      100% {box-shadow: 0 0 0 40px #0000}
  }

  /*  */
  .loader2 {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    background: #000;
    box-shadow: 0 0 0 0 #0004;
    animation: l2 1.5s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
  }
  .loader2:before,
  .loader2:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 0 #0004;
    animation: inherit;
    animation-delay: -0.5s;
  }
  .loader2:after {
    animation-delay: -1s;
  }
  @keyframes l2 {
      100% {box-shadow: 0 0 0 40px #0000}
  }




/* sliding feature of contributors */
.sliding-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 30px;
  position: relative;
}

/* Ensuring sliding effect works well across all screen sizes */
.sliding-track {
  display: flex;
  gap: 40px; /* Adjusted gap for responsiveness */
  width: max-content;
  animation: slide 7s linear infinite;
}

/* Individual Card Styling */


/* Responsive Adjustments */
@media (max-width: 1024px) {
  .sliding-track {
    gap: 30px; /* Reduce gap for smaller screens */
  }
  
}

@media (max-width: 768px) {
  .sliding-track {
    gap: 20px; /* Even smaller gap */
  }
  
}

@media (max-width: 480px) {
  .sliding-track {
    gap: 15px;
  }
  
}

/* Sliding Animation */
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%); /* Moves left by half the total width */
  }
}
